.find-friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-friends-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.users-list {
  width: 100%;
  max-width: 600px;
}

.user-card-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 650px;
  height: 3.5rem;
  border-radius: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

.user-card-message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-card-message .user-info-message {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.user-card-message h2 {
  font-size: 14px;
  margin: 0;
}

.user-card-message button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-card-message button:hover {
  background-color: #0056b3;
}
