.home {
   width: 700px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 
 .post-input-container {
   margin-bottom: 20px;
   border: 1px solid black;
   height: 150px;
   width: 700px;
   padding: 1rem;
 }
 
 hr {
   margin-top: 0.8rem;
   margin-bottom: 0.8rem;
   width: 95%;
   margin-left: auto;
   margin-right: auto;
 }
 
 .post-picture {
   display: flex;
   flex-direction: row;
   gap: 5rem;
 }
 
 .post-picture p {
   font-family: 'Preahvihear', sans-serif;
   font-size: 13px;
 }
 
 .post-input {
   width: 600px;
   height: auto;
   padding: 10px;
 }
 
 .post-text {
   display: flex;
   flex-direction: row;
 }
 
 .post-text button {
   width: 60px;
   height: 30px;
   align-self: center;
   margin-left: 1rem;
 }
 
 .write-post {
   display: flex;
   flex-direction: row;
 }
 
 .upload-post {
   display: flex;
   flex-direction: row;
 }
 
 .icon {
   width: 20px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   background-color: #ffee93;
 }
 
 .submit-button {
   width: 80px;
   margin-left: auto;
   margin-right: 10px;
 }
 
 .post-list {
   display: flex;
   flex-direction: column-reverse;
 }
 
 .post-item {
   background-color: #f2f2f2;
   padding: 10px;
   margin-bottom: 10px;
 }
 
 .post-content {
   display: flex;
   flex-direction: column;
 }
 
 .post-actions {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-top: 10px;
 }
 
 .action {
   display: flex;
   align-items: center;
   gap: 5px;
   color: #999;
   cursor: pointer;
 }
 
 .comment-section {
   margin-top: 10px;
 }
 
 .comment-input {
   width: 100%;
   padding: 5px;
   margin-top: 5px;
 }
 